<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="wrapper">
        <header class="site-header">
            <h1>Site Header</h1>
            <nav>
                <ul>
                    <li>HOME</li>
                    <li>ABOUT US</li>
                    <li>HISTORY</li>
                    <li>CONTACT US</li>
                </ul>
            </nav>
        </header>
        <main class="site-main">
         {{ site.title }}
          {{ content }}
        </main>
        <footer class="site-footer">
            <p>All rights reserved!</p>
        </footer>
    </div>
</body>

</html>